
@using Parcial1_aplicada2_2017_0826.Models;
@using Parcial1_aplicada2_2017_0826.BLL;

@inject IToastService toast;

<EditForm Model="" OnValidSubmit="">

    <DataAnnotationsValidator />

    <div class="card">

        <div class="card-header">

            <h3>Registro de Productos</h3>

        </div>

        <div class="card-body">

        </div>


        <div class="card-footer">



        </div>


    </div>


</EditForm>

@code {

}
